@import "tailwindcss";
@font-face {
    font-family: Satoshi;
    src: url(/fonts/Satoshi-Light.woff) format('woff');
    font-display: block;
}


@font-face {
    font-family: General Sans;
    src: url(/fonts/GeneralSans-Regular.woff) format('woff');
    font-display: block;
}